<!-- templates/buyers/buyers_base.html -->
{% extends "main/main_base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/buyer.css' %}">
{% endblock %}

{% block title %}Buyer{% endblock %}
{% block header_extra %}
<a href="#" class="cart-icon">
    <svg xmlns="http://www.w3.org/2000/svg" 
         width="26" height="26" 
         viewBox="0 0 24 24" 
         fill="none" 
         stroke="currentColor" 
         stroke-width="2"
         stroke-linecap="round" 
         stroke-linejoin="round">
        <circle cx="9" cy="21" r="1"></circle>
        <circle cx="20" cy="21" r="1"></circle>
        <path d="M1 1h4l2.7 13.4a2 2 0 0 0 2 1.6h9.6a2 2 0 0 0 2-1.6L23 6H6"></path>
    </svg>
    <span class="cart-count">3</span>
</a>
{% endblock %}

{% block content %}
    {% block buyer_content %}
    {% endblock %}
{% endblock %}