{% extends "buyers/buyers_base.html" %}
{% load static %}

{% block buyer_content %}
<div class="container">

    <aside class="sidebar sidebar-always-visible">
        <div class="sidebar-header">
            <h2>Menu</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'buyer_orders'%}">Мої замовлення</a></li>
            <li class="active"><a href="{% url 'buyer_catalog'%}">Каталог</a></li>
            <li><a href="{% url 'buyer_process'%}">В процесі</a></li>
            <li><a href="{% url 'buyer_sellers'%}">Продавці</a></li>
        </ul>
    </aside>

    <main class="main_page">

        <div class="page-header">
            <h1>Каталог товарів</h1>
            <p>Обирайте продукцію</p>
        </div>

        <div class="products-grid">
            {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://picsum.photos/300/200">
                        <div class="product-status in-stock">{{product.stock}}</div>
                    </div>

                    <div class="product-info">
                        <h3 class="product-name">{{product.name}}</h3>
                        <p class="product-category">{{product.category}}</p>

                        <div class="product-details">
                            <span class="product-price">{{product.price}} грн</span>
                            <span class="product-stock">{{product.quantity}} шт</span>
                        </div>

                        <p class="product-description">{{product.description}}</p>
                    </div>

                    <div class="product-actions_buyer">
                        <div class="product-controls_buyer">
                            <div class="stepper_buyer">
                                <button type="button" class="stepper-btn minus">−</button>
                                <input type="number" class="stepper-input" value="1" min="1">
                                <button type="button" class="stepper-btn plus">+</button>
                            </div>

                            <select class="unit-select_buyer">
                                <option value="pcs">шт</option>
                                <option value="kg">кг</option>
                            </select>
                            </div>
                        <button class="btn-edit_buyer">Додати</button>
                        
                    </div>
                </div>
            {% endfor %}

        </div>

    </main>
</div>
{% endblock %}